.wrapper {
  width: 100%;
  position: relative;
}

.bottomBorder {
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to bottom,
    #d5b71e 0%,
    #d5b71e 25%,
    #9e6800 25%,
    #9e6800 50%,
    #c68b00 50%,
    #c68b00 100%
  );
}

.header {
  height: 69px;
  position: relative;
}

.headerImage {
  opacity: 0.85;
  object-fit: cover;
}
