.container {
  width: 220px;
  background: radial-gradient(
    ellipse at center,
    #5c0000 0%,
    #3a0000 50%,
    #2a0000 100%
  );
  border: 8px solid;
  border-image-slice: 1;
  padding: 40px 30px;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #ac7500, 0 0 0 2px #c48800, 0 0 0 3px #ac7500,
    0 0 0 4px #aa7100, 0 0 0 5px #e7a701, 0 0 0 6px #cca10f;
}

.characterSection {
  margin-bottom: 1.5rem;
}

.characterName {
  width: 174px;
  height: 16px;
  font-size: 12px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bold;
  font-family: "Tahoma";
  text-align: left;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.46));
}

.characterContainer {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  width: 201px;
  height: 80px;
  background-image: url(/images/backgroundCharacterInfo.svg);
  background-size: 201px 80px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 3px;
}

.characterAvatar {
  width: 71px;
  height: 72px;
  background-image: url(/images/backgroundCharacter.svg);
  background-size: 71px 72px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

.characterInfo {
  flex: 1;
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.characterProperty {
  font-size: 12px;
  font-weight: bolder;
  color: rgb(170, 170, 170);
  font-family: "TAHOMA";
}

.loading {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #999;
}
